{% extends 'base.html' %}

{% block title %}
{{ title }} :: {{ block.super}}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
{% for task in tasks %}
<div class="card mb-3">
    <div class="card-header">
        Категория: {{ task.task_category }}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ task.task_name }}</h5>
        <p class="card-text">note...</p>
        <a href="{{ task.get_absolute_url }}" class="btn btn-primary">Read more...</a>
    </div>
    <div class="card-footer text-muted">
        {{ task.created|date:'Y-m-d H:i'}}
    </div>
</div>
{% endfor %}
{% endblock %}
