{% extends 'base.html' %}

{% block title %}
Удалить задачу :: {{ block.super}}
{% endblock %}

{% block content-title %}
<h1>Удалить задачу?</h1>
{% endblock %}

{% block content %}
<div align="center">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li>
            <form action="{% url 'delete_task' task.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-block">Да</button>
            </form>
        </li>
        <li>
            <button type="button" class="btn btn-primary btn-block">
                <a href="{% url 'home' %}" style="color: white; text-decoration: none;">Нет</a>
            </button>
        </li>
    </ul>
</div>
{% endblock %}
