{% extends 'base.html' %}

{% block title %}
Задача:: {{ block.super}}
{% endblock %}

{% block content %}
<div class="card mb-3">
    <div class="card-header">
        <span id="task-name">{{ task_details.task_name }}</span>
        <span id="edit-delete">
            <a href="{% url 'view_task' task_details.pk %}">
                <img src="{% url 'home' %}static/view_detail.png" alt="View detail" height="25">
            </a>
        </span>
    </div>
    <div class="card-footer text-muted">
        {% if task_details.due_date %}
        <span id="due-date">{{ task_details.due_date|date:'Y-m-d' }}</span>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block viewtask %}
<div class="card mb-3">
    <div class="card-header">
        <span id="task-name">{{ task_details.task_name }}</span>
        <span id="edit-delete">
            <a href="{% url 'edit_task' task_details.pk %}">
                <img src="{% url 'home' %}static/edit.png" alt="Edit task" height="25">
            </a>
        </span>
        <span id="edit-delete">
            <a href="{% url 'delete_task' task_details.pk %}">
                 <img src="{% url 'home' %}static/delete.png" alt="Delete task" height="25">
            </a>
        </span>
    </div>
    <div class="card-body">
        <p class="card-text">Заметки: {{ task_details.notes }}</p>
        <p class="tags">Теги: {{ task_details.tags.all|join:", " }}</p>
    </div>
    <div class="card-footer text-muted">
        <span>создано: {{ task_details.created|date:'Y-m-d H:i' }}</span>
        {% if task_details.due_date %}
        <span id="due-date">срок выполнения: {{ task_details.due_date|date:'Y-m-d' }}</span>
        {% endif %}
    </div>

</div>
{% endblock %}
