{% extends 'base.html' %}

{% block title %}
Задача:: {{ block.super}}
{% endblock %}

{% block content-title %}
Детали
{% endblock %}

{% block content %}
{% include 'inc/_tasks.html' %}
{% endblock %}

{% block viewtask %}
<div class="card mb-3">
    <div class="card-header">

        <span id="edit-delete">
            <a href="{% url 'edit_task' task_details.pk %}">
                <img src="{% url 'home' %}static/edit.png" alt="Edit task" height="25">
            </a>
        </span>
        <span id="edit-delete">
            <a href="{% url 'delete_task' task_details.pk %}">
                 <img src="{% url 'home' %}static/delete.png" alt="Delete task" height="25">
            </a>
        </span>
    </div>
    <div class="card-body">
        <p class="card-text">Заметки: {{ task_details.notes }}</p>
    </div>
    <div class="card-body">
        <p class="tags">Теги: {{ task_details.tags.all|join:", " }}</p>
    </div>
    <div class="card-body">
        <p class="card-text">Приоритет: {{ task_details.priority}}</p>
    </div>
    <div class="card-body">
        <p class="card-text">Завершено: {{ task_details.completed}}</p>
    </div>
    <div class="card-footer text-muted">
        <div>создано: {{ task_details.created|date:'Y-m-d H:i' }}</div>
        {% if task_details.due_date %}
        <div>срок выполнения: {{ task_details.due_date|date:'Y-m-d' }}</div>
        {% endif %}
    </div>

</div>
{% endblock %}
