{% extends 'base.html' %}

{% block title %}
Task :: {{ block.super}}
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="card mb-3">
    <div class="card-header">
        Категория: <a href="{{ task_item.task_category.get_absolute_url }}">{{ task_item.task_category }}</a>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ task.task_name }}</h5>
        <p class="card-text">note...</p>
    </div>
    <div class="card-footer text-muted">
        {{ task_item.created|date:'Y-m-d H:i'}}
    </div>
</div>
{% endblock %}
