<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% url 'home' %}static/brand.png" alt="ToDo App" height="40">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            {% if request.user.is_authenticated %}

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                 <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'add_task' %}">Добавить задачу</a>
                </li>
                <li>
                    <form class="d-flex" action="{% url 'search_task' %}" method="get">
                        <input class="form-control me-2" name="search" type="text" placeholder="Поиск задачи" aria-label="Search">
                        <button class="btn btn-outline-secondary" type="submit">
                            <img src="{% url 'home' %}static/search.png" alt="search" height="20">
                        </button>
                    </form>
                </li>
            </ul>
            <span>Добро пожаловать, {{ user.username }} |</span>
            <a href="{% url 'logout' %}">
                <img src="{% url 'home' %}static/logout.png" alt="Logout" height="25">
            </a>

            {% else %}
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
             <span class="navbar-text">
                <a href="{% url 'register' %}">Регистрация</a> | <a href="{% url 'login' %}">Войти</a>
            </span>
            {% endif %}
        </div>
    </div>
</nav>