{% load todo_tags %}

{% if request.user.is_authenticated %}

<!--Дата выполнения и количество задач-->
{% show_today as today %}
{% show_tomorrow as tomorrow %}
{% show_week as week %}
{% get_tasks as all_tasks %}

<div class="list-group">
    <a href="{% url 'tasks_by_date' 'all' %}" class="list-group-item list-group-item-action">
        Все <span class="badge bg-primary rounded-pill">{{ all_tasks.count }}</span>
    </a>
    <a href="{% url 'tasks_by_date' 'today' %}" class="list-group-item list-group-item-action">
        Сегодня <span class="badge bg-primary rounded-pill">{{ today.count }}</span>
    </a>
    <a href="{% url 'tasks_by_date' 'tomorrow' %}" class="list-group-item list-group-item-action">
        Завтра <span class="badge bg-primary rounded-pill">{{ tomorrow.count }}</span>
    </a>
    <a href="{% url 'tasks_by_date' 'week' %}" class="list-group-item list-group-item-action">
        Эта неделя <span class="badge bg-primary rounded-pill">{{ week.count }}</span>
    </a>
</div>

{% show_categories %}

{% endif %}