{% load todo_tags %}

{% if request.user.is_authenticated %}

{% for task in tasks %}
<div class="card mb-3">
    <div class="card-header">
        Категория: <a href="{{ task.task_category.get_absolute_url }}">{{ task.task_category }}</a>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ task.task_name }}</h5>
        <p class="card-text">note...</p>
        <p class="tags">Tags: {{ task.tags.all|join:", " }}</p>
        <a href="{{ task.get_absolute_url }}" class="btn btn-primary">Read more...</a>
    </div>
    <div class="card-footer text-muted">
        {{ task.created|date:'Y-m-d H:i'}}
    </div>

</div>
{% endfor %}

{% endif %}