{% load todo_tags %}

{% if request.user.is_authenticated %}

{% for task in tasks %}
<div class="card mb-3">
    <div class="card-header">
        <h6>{{ task.task_name }}</h6>
    </div>
    <div class="card-body">
        <p class="card-text">{{ task.notes }}</p>
        <p class="tags">теги: {{ task.tags.all|join:", " }}</p>
        <a href="{{ task.get_absolute_url }}" class="btn btn-primary">Read more...</a>
    </div>
    <div class="card-footer text-muted">
        <span>создано: {{ task.created|date:'Y-m-d H:i' }}</span>
        {% if task.due_date is not None %}
        <span id="due-date">срок выполнения: {{ task.due_date|date:'Y-m-d' }}</span>
        {% endif %}
    </div>

</div>
{% endfor %}

 <!--Пагинация-->
            {% if page_obj.has_other_pages %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">

                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}"> <</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#"> <</a>
                    </li>
                    {% endif %}

                    {% for page in page_obj.paginator.page_range %}
                        {% if page_obj.number == page %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                        </li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}"> ></a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#"> ></a>
                    </li>
                    {% endif %}

                </ul>
            </nav>
            {% endif %}

{% endif %}