{% load todo_tags %}

{% if request.user.is_authenticated %}

{% for task in tasks %}
<div class="card mb-3">
    <div class="card-header">
        <span id="task-name">{{ task.task_name }}</span>
        <span id="edit-delete">
            <a href="{% url 'view_task' task.pk %}">
                <img src="{% url 'home' %}static/view_detail.png" alt="View detail" height="25">
            </a>
        </span>
    </div>
    <div class="card-footer text-muted">
        {% if task.due_date %}
        <span id="due-date">{{ task.due_date|date:'Y-m-d' }}</span>
        {% endif %}
    </div>

</div>
{% endfor %}

 <!--Пагинация-->
            {% if page_obj.has_other_pages %}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">

                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}"> <</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#"> <</a>
                    </li>
                    {% endif %}

                    {% for page in page_obj.paginator.page_range %}
                        {% if page_obj.number == page %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                        </li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}"> ></a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#"> ></a>
                    </li>
                    {% endif %}

                </ul>
            </nav>
            {% endif %}

{% endif %}