.navbar{
    padding-top: 0rem;
    padding-bottom: 0rem;
}
.navbar-brand{
   margin-right: 10rem;
}
h1{
    text-align: center;
    margin-bottom: 0.5;
    font-size: 120%;
}
.tags{
    font: bold italic 90% serif;
    margin-bottom: 0;
}
#content-title{
    text-align: center;
    font-size: 130%;
}
#edit-delete{
    float: right;
    margin-left: 5px;
}
#task-name{
    font: 140% serif;
}
.badge bg-primary rounded-pill{
    float: right;
}